body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  text-align: center;
}

header {
  background: #4CAF50;
  color: white;
  padding: 20px;
}

.album h2 {
  margin-top: 30px;
  color: #4CAF50;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.25) rotate(360deg) translateX(20px)

}

figcaption {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

footer {
  background: #333;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

/* Lightbox (big image popup) */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

#lightbox.active {
  display: flex;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
